@import 'mixins';
@import 'header';
@import 'button';
@import 'variables';
@import 'nav';
@import 'sectionOne';
@import 'paragraph';
@import 'sectionTwo';
@import 'footer';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: $fontSize;
	@include desktop {
	}
}
.siteWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1440px;
}
